# Python tools required for Ansible and tests to run
#
# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2026 Zack Williams <zdw@zackofalltrades.com>

# templating
copier~=9.14.0
jinja2~=3.1.6

# ansible
ansible~=13.4.0
ansible-lint~=26.3.0
molecule~=26.3.0
molecule-plugins[docker]~=25.8.12

# linting and formatting
reuse~=6.2.0
yamllint~=1.38.0
